# Секретный ключ Django (сгенерируйте новый в production)
SECRET_KEY=super-secret-key

# Режим отладки: True - для локальной разработки, False - в production
DEBUG=True

# Настройки подключения к PostgreSQL
POSTGRES_DB=training_db
POSTGRES_USER=lms_user
POSTGRES_PASSWORD=lms_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Через запятую: хосты/домены, с которых разрешается обращаться к серверу
ALLOWED_HOSTS=127.0.0.1,localhost
